<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
      lang="" style="">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/css/assets.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style-ss1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/style_order.css">
    <meta charset="utf-8">

    <title>{{ flatpage.title }}</title>

    <meta name="description" content="EagleEye Tactical oleyrevives">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="content-language" content="en-us">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="css/app.css">


</head>
<style>
    body p {
        color: #000 !important;
    }

</style>
<body cz-shortcut-listen="true">

<div class="fullContainer container" id="section-6309810000">


    <div class="containerInner">


        <div class="row padding_10">
            <div class="col-md-12 innerContent">

                <div class="site_logo">
                    <img src="/static/images/logo_birds_new.png">
                </div>
                {% load evaluate_tag %}
                {% evaluate flatpage.content %}
            </div>
        </div>
    </div>


    <div class="row padding_10 footer">
        <div class="col-md-12 innerContent">
            <div class="col-inner">
                <div class="HeadlineWrapper">
                    <div class="Headline">EagleEye EE-800 oleyrevive</div>
                </div>
                <div class="HeadlineWrapper elMargin10">
                    <div class="Headline">7582 Las Vegas BLVD. S #115-405
                        <br>Las Vegas, NV 89123
                    </div>
                </div>
                <div class="HeadlineWrapper">
                    <div class="Headline">
                        {% include 'blocks/footer-links.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="js/tc.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script src="/static/js/jquery.ccval.js"></script>
<script src="/static/js/jquery.mask.min.js"></script>
<script src="/static/js/form_handler.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/error_handler.js"></script>
<script src="/static/js/outro.js"></script>


</body>
</html>
