{% load staticfiles i18n %}

<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
      lang="" style="">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/css/assets.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style-ss1.css" rel="stylesheet" type="text/css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/app.css">
    {% block extracss %}
        <link rel="stylesheet" type="text/css" href="/static/css/style_order.css">
    {% endblock %}
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>
    <script src="/static/js/jquery.min.js"></script>
    {#    <script async="true" type="text/javascript" src="/static/js/roundtrip.js"></script>#}

    <meta name="description" content="EagleEye Tactical oleyrevives">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="content-language" content="en-us">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-89512175-1', 'auto', {'allowLinker': true});
        ga('require', 'linker');
        ga('linker:autoLink', ['tacticalknowledgeflash.com']);
        ga('send', 'pageview');

    </script>

    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 766902609]);
        (function () {
            function ldinsp() {
                if (typeof window.__inspld != "undefined") return;
                window.__inspld = 1;
                var insp = document.createElement('script');
                insp.type = 'text/javascript';
                insp.async = true;
                insp.id = "inspsync";
                insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js';
                var x = document.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(insp, x);
            };
            setTimeout(ldinsp, 500);
            document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
        })();
    </script>
    <!-- End Inspectlet Embed Code -->
</head>
<body style="" cz-shortcut-listen="true">

{% block content %}
{% endblock %}




{#<script type="text/javascript" src="/static/js/tc.min.js"></script>#}
{#<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>#}
{#<script src="/static/js/jquery.ccval.js"></script>#}
{#<script src="/static/js/jquery.mask.min.js"></script>#}
{#<script src="/static/js/form_handler.js"></script>#}
{#<script src="/static/js/app.js"></script>#}
{#<script src="/static/js/error_handler.js"></script>#}
{#<script src="/static/js/outro.js"></script>#}


<script type="text/javascript" src="/static/js/tc.min.js"></script>
<script src="/static/js/jquery.ccval.js"></script>
<script src="/static/js/jquery.mask.min.js"></script>
<script src="/static/js/form_handler.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/error_handler.js"></script>
{#    <script src="/static/js/outro.js"></script>#}
</body>
</html>
