<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Generate bottle</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        img {
            max-height: 400px
        }
    </style>
</head>
<body>
<div class='container'>
    <div class="row">
        <h1>Generate bottle form</h1>
        {% load crispy_forms_tags %}
        {% crispy form %}
        {% if result %}
            <hr>
            {#            show urls#}
            {#            show files#}
            {#            button for download#}

{#                    {% for command in result.commands %}#}
{#                        {{ command }}<br>#}
{#                    {% endfor %}#}
            <a href="{{ result.zip_url }}" class="btn">Download results(ZIP)</a>
            <div class="row">
                {% for file in result.files %}
                    <div class="col-sm-4"><img src="{{ file.url }}"></div>
                {% endfor %}
            </div>
            <div class="row">
            <img src="/s/v2/bottles/{{ result.comp.name }}">
            </div>
            <div class="row">
            {% for file in result.basic_comp %}
            <img src="/s/v2/bottles/{{ file.name }}" style="float:left; margin-right:50px;">
            {% endfor %}
            </div>
            <a href="{{ result.zip_url }}" class="btn">Download results(ZIP)</a>
        {% endif %}


    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>