@charset "utf-8";
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
* {
    margin: 0px;
    padding: 0px;
}
ul,
li {
    list-style-type: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.alignRright {
    float: right;
    margin: 0 0 12px 15px;
}
.alignLeft {
    float: left;
    margin: 0 15px 12px 0;
}
.alignCenter {
    float: none !important;
    margin: 0 auto;
    display: block;
}
img,
a img {
    max-width: 100%;
    height: auto;
    border: 0;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
img {
    max-width: 100%;
    height: auto;
}
.config-errors h3 {
    padding: 10px 0;
    margin: 5px;
}
.config-errors ul {
    padding: 0;
    margin: 0;
}
.config-errors li {
    padding: 10px;
    margin: 5px;
    background-color: #FCC;
    border: 1px solid #C00;
    color: #333;
    font: 15px/20px arial, sans-serif;
}
.config-errors li strong {
    float: right;
}
input[type="text"],
input[type="search"],
input[type="text"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea,
select {
    background: #FFF;
    border: 1px solid #a7abad;
    color: #222222;
    height: 32px;
    line-height: 22px;
    width: 100%;
    font-size: 14px;
    padding: 3px 8px;
    outline: 0px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
textarea {
    padding: 6px;
    height: 150px;
}
select {
    line-height: 24px;
    padding: 4px;
    height: 32px;
}
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    background: #fff;
    box-shadow: 0 0 5px #51cbee;
    border: 1px solid #51cbee;
}
input.has-error,
select.has-error {
    background: #ffffff url("../images/error-input.png") no-repeat 99.5% 50%;
    border: 1px solid #ffa500;
}
input.no-error,
select.no-error {
    background: #ffffff url("../images/tick-input.png") no-repeat 99.5% 50%;
    border: 1px solid #008000;
}
.app-benchmark {
    position: fixed;
    width: 98%;
    left: 0;
    bottom: 0;
    padding: 5px 1%;
    background-color: #CCC;
    color: #333;
    text-align: right;
}
#error_handler_overlay,
#app_common_modal {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    background: #333;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
#error_handler_overlay .error_handler_body {
    margin: 100px auto;
    width: 95%;
    max-width: 600px;
    color: #333;
    padding: 20px;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#error_handler_overlay_close,
#app_common_modal_close {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #FFF;
    background-color: #333;
    border: 2px solid #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
    padding: 0;
    margin: 0;
}
/*#error_handler_overlay  .error_handler_body ul {
margin: 0;
padding: 0 0 0px 20px;
}*/
/*#error_handler_overlay .error_handler_body ul li{
    list-style-type: disc;
}*/

#app_common_modal .app_modal_body {
    margin: 100px auto;
    min-width: inherit;
    width: 95%;
    max-width: 600px;
    min-height: 400px;
    color: #333;
    padding: 2.5%;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
#app_common_modal .app_modal_body iframe {
    min-height: 400px;
    width: 100%;
    border: 1px solid rgb(213, 214, 239);
}
.exitpop-content {
    position: fixed;
    height: 400px;
    width: 708px;
    margin: -200px 0px 0px -354px;
    top: 50%;
    left: 50%;
    text-align: left;
    padding: 0px;
    border: none;
    z-index: 2147483647;
}
.exitpopup-overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483647;
    display: none;
}
.exitpop-content img {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    max-width: 100%;
    height: auto;
}
.exitpop-discountbar {
    background-color: red;
    border-bottom: 4px dashed white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}
.app-load-spinner {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: #333;
    border-radius: 100%;
    /*-webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;*/
}
.float-left {
    float: left;
}
.clear {
    clear: both;
    line-height: 0;
    height: 0;
}
input[type="button"],
input[type="submit"],
button,
.button {
    border: 0;
    /*width: 100%;*/
    
    display: block;
    cursor: pointer;
    position: relative;
    outline: 0;
    padding: 20px 15px;
    /*background: #2288D0;*/
    
    color: #fff;
    /*font-size: 20px;*/
}
/*input[type="button"]:hover, input[type="submit"]:hover, button:hover, .button:hover{
     background: #2791E4;
}*/

.defult {
    padding: 10px 15px;
}
.defult form label {
    width: 175px;
    display: inline-block;
}
.defult input[type="text"],
.defult input[type="search"],
.defult input[type="text"],
.defult input[type="number"],
.defult input[type="password"],
.defult input[type="tel"],
.defult input[type="email"],
.defult textarea,
.defult select {
    max-width: 275px;
}
.defult input[type="button"],
.defult input[type="submit"],
.defult button,
.defult .button {
    max-width: 450px;
}
.all-card-types li {
    float: left;
    margin-right: 20px;
}
#loading-indicator {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    box-sizing: border-box;
    font-size: 1px;
    height: 100%;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2147483646;
}
#loading-indicator::before {
    background: rgba(0, 0, 0, 0) url("../images/loading.gif") no-repeat scroll center center;
    box-sizing: border-box;
    content: "";
    height: 70px;
    left: 50%;
    margin-left: -35px;
    margin-top: -70px;
    position: absolute;
    top: 50%;
    width: 70px;
    z-index: 2;
}
#loading-indicator::after {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000000;
    content: "Processing, one moment please... ";
    font-family: arial;
    font-size: 17px;
    height: 110px;
    left: 50%;
    line-height: 98px;
    margin-left: -150px;
    margin-top: -75px;
    padding-top: 35px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;
    z-index: 1;
}
@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
span.cb-inline-error {
    margin-top: 10px;
    font-weight: 100;
    color: #c00;
    display: block;
}
li {
    list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    font-size: 21px;
}
.clear {
    clear: both;
}
div {
    display: block;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.checkout_body {
    background: url('../images/checkout_bg.jpg') repeat-x center top;
}
.header_cont {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d1d1d1;
    margin: 0 auto;
    padding: 25px 30px;
}
.checkout_header_logo4 {
    float: left;
}
.header_ship {
    float: left;
    margin: 0 7px 0 36px;
}
.usa_chk {
    float: right;
}
.main {
    float: left;
    margin: 0 auto;
    padding: 0 30px;
    width: 680px;
}
.aside {
    border: 3px solid #afb4c6;
    float: right;
    margin: 0 auto;
    width: 320px;
}
.aside_head {
    background: #595e71 none repeat scroll 0 0;
    color: #fff;
    padding: 22px 0;
    text-align: center;
    text-transform: uppercase;
}
.main_cont_body {
    background: #fff none repeat scroll 0 0;
    padding: 30px 0 0;
}
.aside_head h1 {
    font: 30px/100% MontserratRegular;
}
.aside_head h2 {
    font: 19px/100% MontserratBold;
}
.chk_form {
    background: #e8e8f0 none repeat scroll 0 0;
    font-family: arial;
    padding: 30px 5px;
}
.chk_form li {
    padding: 5px 0;
}
.chk_form label,
.style14black {
    color: #272727;
    float: left;
    font: 12px/100% arial;
    padding-right: 10px;
    padding-top: 7px;
    text-align: right;
    vertical-align: bottom;
    width: 110px;
}
.chk_form input[type="text"] {
    border: 1px solid #b7b7b7;
    color: #000;
    font: 12px/100% arial;
    height: 27px;
    padding: 0 5px;
    width: 182px;
}
.chk_visa {
    display: block;
    margin: 10px auto;
}
.chk_form h6 {
    display: block;
    font: 12px/18px arial;
    margin: 0 auto;
    text-align: center;
    width: 67%;
}
.chk_form p.chk_input {
    display: block;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}
.chk_form .exp {
    width: 85px;
}
.chk_form ul li select {
    border: 1px solid #b7b7b7;
    color: #000;
    font: 12px/100% arial;
    height: 27px;
    padding: 0 5px;
    width: 182px;
}
.chk_form .cvv {
    width: 76px !important;
}
.what_this {
    color: #58aa00;
    font-size: 12px;
    padding-left: 7px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}
.what_this:hover {
    color: #ED145B;
    text-decoration: none;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}
.chk_secure {
    display: block;
    margin: 20px auto;
}
.chk_button {
    background: rgba(0, 0, 0, 0) url("../images/chk_button.png") no-repeat scroll center top;
    border: medium none;
    display: block;
    font-size: 0;
    height: 80px;
    width: 291px;
}
.chk_button:hover {
    background-position: 0 -75px;
}
.master_visa_chk {
    display: block;
    margin: 40px auto 10px;
}
.main_header > p {
    font: 18px/19px OpenSansRegular;
    color: #ed145b;
}
.main_header {
    background: #f7efed none repeat scroll 0 0;
    border: 2px solid #ed145b;
    margin-bottom: 25px;
    padding: 15px 20px;
    text-align: center;
}
.main_header img {
    margin-right: 10px;
    vertical-align: bottom;
}
.chek_discount_arrow {
    color: #66cc33;
    font: 18px/19px OpenSansBold;
    padding-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
}
.chek_discount_arrow > img {
    vertical-align: sub;
}
.great_choice {
    color: #5a5a5a;
    font: 17px/100% OpenSansBold;
}
.great_choice strong {
    color: #66cc33;
}
.low_stick {
    color: #5a5a5a;
    font: 14px/100% OpenSansRegular;
    padding: 25px 0;
}
.low_stick > img {
    margin: auto 5px;
    vertical-align: text-bottom;
}
.low_stick > span {
    font-family: OpenSansBold;
}
.low_stick > strong {
    color: #d71e1c;
}
.bolder_chk > p {
    color: #5a5a5a;
    font: 14px/100% OpenSansRegular;
    padding: 0 0 7px;
}
.bolder_chk strong {
    color: #ed145b;
    font-family: OpenSansBold;
    font-weight: normal;
}
.bolder_chk {
    border-bottom: 1px solid #dedede;
    padding-bottom: 60px;
}
.hero {
    padding: 50px 0;
    position: relative;
}
.hero_left {
    float: left;
    width: 40%;
}
.hero_right {
    float: right;
    padding-left: 30px;
    width: 60%;
}
.chk_discount {
    left: 26px;
    position: absolute;
    top: 142px;
}
.main_container {
    /* margin-top: 50px; */
}
.hero_right > p {
    color: #555;
    font: 14px/19px OpenSansRegular;
    padding: 0 0 5px;
    width: auto;
}
.hero_right p strong {
    display: block;
    font: 18px/19px OpenSansBold;
    text-transform: uppercase;
}
.hero_right span {
    float: left;
    text-align: left;
    color: #5a5a5a;
    font: 16px/22px OpenSansRegular;
}
.hero_right ul li p {
    text-align: right;
    font: 16px/22px OpenSansRegular;
    color: #5a5a5a;
}
.hero_right li {
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
}
.hero_right ul li.price_chk p {
    color: #66cc33;
    font: 18px/24px OpenSansBold;
    text-align: right;
}
.hero_right .price_chk span {
    float: left;
    text-align: left;
    color: #5a5a5a;
    font: 18px/24px OpenSansBold;
}
.shiping_discount > span,
.shiping_discount > p {
    color: #ff0000 !important;
}
.hero_right li:last-child {
    border-bottom: none;
}
.chk_port {
    margin: 5px 0 5px;
}
.hero > img {
    margin: 0 0 0 -32px;
}
.hero > p {
    color: #aaaaaa;
    font: 10px/18px OpenSansRegular;
    padding: 23px 30px 0 0;
    text-align: justify;
}
.chk_footer {
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    font: 11px/100% OpenSansRegular;
    color: #000;
}
.chk_footer li {
    border-right: 1px solid #000;
    display: inline-block;
    line-height: 13px;
    padding: 0 12px 0 6px;
}
.chk_footer a {
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    cursor: pointer;
}
.chk_footer a:hover {
    color: #ED145B;
    text-decoration: underline;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}
.chk_footer li:last-child {
    border-right: none;
}
.chk_footer p {
    padding: 10px 0 0;
}
.main_container > .container {
    box-shadow: 0 -5px 5px #ccc;
}
.checkout_visa {
    display: block;
    margin: 40px auto 25px;
}
.chk_form ul li p.checkout_input {
    display: block;
    font-size: 12px;
    margin: 10px auto 28px;
    text-align: center;
}
.bolder_chk_checkout {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
}
.bolder_chk_checkout > p {
    color: #5a5a5a;
    font: 14px/100% OpenSansRegular;
    padding: 0 0 7px;
}
.bolder_chk_checkout strong {
    color: #ed145b;
    font-family: OpenSansBold;
    font-weight: normal;
}
.hero_checkout {
    padding: 13px 0;
    position: relative;
}
.hero_checkout > p {
    color: #aaaaaa;
    font: 10px/18px OpenSansRegular;
    padding: 23px 30px 0 0;
    text-align: justify;
}
.checkout_checkout .hero_right > p {
    padding: 0 0 5px;
}
.checkout_checkout .hero_right li {
    padding: 6px 0;
}
.checkout_checkout .chk_port {
    margin: 10px 0 6px;
}
.checkout_checkout .chek_discount_arrow {
    padding-bottom: 13px;
}
.checkout_checkout .low_stick {
    padding: 17px 0;
}
.checkout_checkout .main_header {
    margin-bottom: 14px;
}
.form-group {
    margin-bottom: 6px;
}
.form-control.input-md.check-number.required.phone {
    min-height: 29px !important;
    width: 60%;
}
.required.form-control.input-md {
    width: 60%;
}
.container_thankyou {
    margin: 0 auto;
    width: 700px;
}
.thankyou_header {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d1d1d1;
    margin: 0 auto;
    padding: 13px 30px;
}
.thankyou_header_right {
    float: right;
    margin-top: 15px;
}
.thankyou_body {
    background: rgba(0, 0, 0, 0) url("../images/thankyou_bg.jpg") repeat-x scroll center top;
}
.section1 h1 {
    color: #5a5a5a;
    font: 18px/100% OpenSansBold;
    text-transform: uppercase;
}
.thankyou_cont {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 -5px 5px #ccc;
}
.section1 {
    /* border-bottom: 1px solid #dedede; */
    
    padding: 30px 0 0px 30px;
    width: 100%;
    text-align: center;
}
.section1 span {
    color: #5a5a5a;
    font: 14px/22px OpenSansRegular;
}
.section1 > p {
    color: #5a5a5a;
    font: 14px/100% OpenSansRegular;
    padding-bottom: 10px;
}
.section1 strong {
    color: #000;
    font-family: OpenSansBold;
    font-weight: normal;
}
.section2_left {
    float: left;
    width: 33%;
    padding: 6px;
}
.section2_right {
    float: right;
    padding-left: 40px;
    width: 60%;
}
.section2 {
    padding: 0px 30px;
}
.section2_left > img {
    margin-top: 10px;
}
.section2_right h1 {
    color: #ed145b;
    font: 18px/24px OpenSansBold;
    padding-bottom: 35px;
}
.zero > p {
    color: #555;
    font: 14px/20px OpenSansRegular;
    padding: 0 0 7px;
}
.zero strong {
    font-family: OpenSansBold;
    font-weight: normal;
}
.section2_right li {
    padding: 6px 0;
    border-bottom: 1px solid #dedede;
}
.section2_right ul li span {
    color: #5a5a5a;
    float: left;
    font: 14px/20px OpenSansRegular;
    text-align: left;
}
.section2_right ul li p {
    color: #5a5a5a;
    font: 14px/20px OpenSansRegular;
    text-align: right;
}
.section2_right ul li p.thk_green {
    color: #66cc33;
    display: block;
    font: 18px/24px OpenSansBold;
    padding: 54px 0 0;
    text-align: right;
    vertical-align: bottom;
}
.section2_right .age_thk {
    padding: 18px 0 0;
    width: 48%;
}
.age_thk > strong {
    display: block;
}
.thankyou_cont > p {
    color: #aaaaaa;
    font: 10px/18px OpenSansRegular;
    margin: 0 auto;
    padding: 30px;
    text-align: justify;
}
.upsell .section1 {
    text-align: center;
    width: auto;
}
.upsell .section1 h1 {
    line-height: 28px;
}
.thankyou_header_left {
    vertical-align: middle;
}
.section_upsell {
    text-align: center;
}
.section_upsell1 > span {
    color: #ff0000;
    display: block;
    font: 18px/24px opensansbold;
}
.section_upsell1 {
    color: #5a5a5a;
    font: 14px/18px opensansregular;
    padding: 20px 0;
}
.form_block_field.lock {
    font: 11px/12px opensansregular;
}
.section_upsell5 > a {
    color: #868686;
    font: 12px/18px opensansregular;
    text-align: center;
}
.section_upsell5 img {
    vertical-align: middle;
}
.complete_btn:hover {
    background-position: center -91px;
}
.complete_btn {
    background: url("../images/complete.png") no-repeat scroll center 0;
    display: block;
    height: 69px;
    margin: 20px auto 0;
    width: 332px;
}
@media only screen and (max-width: 1000px) {
    .container {
        width: 767px;
    }
    .header_ship {
        height: auto;
        margin: 0 10px;
        width: 375px;
    }
    .header_cont {
        padding: 10px;
    }
    .usa_chk {
        height: auto;
        margin-top: 10px;
        width: 215px;
    }
    .main {
        padding: 0 10px;
        width: 440px;
    }
    img {
        height: auto;
        max-width: 100%;
    }
    .hero_right > p {
        width: auto;
    }
    .hero_right {
        padding-left: 0;
    }
    .chk_footer {
        padding: 10px 0;
    }
}
@media only screen and (max-width: 767px) {
    .chk_form label,
    .style14black {
        width: 90px;
    }
    .main_cont_body {
        padding: 10px 0;
    }
    .header_cont img {
        display: block;
        float: none !important;
        margin: 0 auto;
        width: auto !important;
    }
    .header_cont {
        display: block;
        float: none;
        text-align: center;
    }
    .container {
        width: auto;
    }
    .main {
        float: none;
        width: auto;
    }
    .aside {
        float: none;
        width: 300px;
    }
    .checkout_visa {
        margin: 0 auto;
    }
    .chk_form {
        padding: 10px 0;
    }
    .header_cont img.header_ship {
        margin-bottom: 10px;
    }
    .chk_form ul li p.checkout_input {
        margin: 0;
    }
    .master_visa_chk {
        margin: 10px auto;
    }
    .chk_secure {
        margin: 10px auto 0;
    }
    .hero_checkout > p {
        padding: 5px 0;
    }
    .container_thankyou {
        margin: 0 5px;
        width: auto;
    }
    .thankyou_header img {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .thankyou_header {
        padding: 10px;
    }
    .section1 {
        padding: 10px;
        width: auto;
    }
}
@media only screen and (max-width: 600px) {
    .hero_checkout > p {
        padding: 5px 0;
    }
    .checkout_checkout .main_header {
        padding: 10px;
    }
    .checkout_checkout .chek_discount_arrow {
        font-size: 13px;
        line-height: 13px;
        padding-bottom: 10px;
    }
    .great_choice {
        font-size: 13px;
        line-height: 20px;
    }
    .hero_left {
        float: none;
        width: auto;
    }
    .hero_right {
        float: none;
        width: auto;
    }
    .chk_discount {
        display: none;
    }
    .hero {
        padding: 10px 0;
    }
    .hero > img {
        margin: 0;
    }
    .chk_port {
        margin: 5px 0;
    }
    .bolder_chk {
        padding-bottom: 10px;
    }
    .low_stick {
        line-height: 24px;
        padding: 10px 0;
    }
    .complete_btn {
        background-position: center 0 !important;
        background-size: 100% auto;
        width: 300px;
    }
    .section1 h1 {
        font-size: 17px;
    }
    .section2 {
        padding: 10px;
    }
    .section2_left {
        float: none;
        text-align: center;
        width: auto;
    }
    .section2_right {
        float: none;
        padding: 0;
        width: auto;
    }
    .section2_right > h1 {
        padding: 5px 0;
    }
    .thankyou_cont > p {
        padding: 0 10px;
    }
}
#discountsection {
    z-index: 999;
    left: 0;
    right: 0;
}
#billingDiv td {
    padding-bottom: 5px;
}
.chk_form ul li p.checkout_input {
    margin: 5px auto;
}
.checkout_visa {
    margin: 5px auto;
}
.chk_form {
    padding: 10px 5px;
}
.select.required {} #form {
    bottom: 0;
    font-family: "Open Sans", Arial;
    position: absolute;
    right: 1px;
    top: 61px;
    width: 311px;
    z-index: 10;
}
#form a {
    color: #66cc33;
}
#form .timer {
    position: relative;
    top: 50px;
    left: 60px;
    font-size: 20px;
}
#form .timer span {
    color: white;
    background: black;
    border-radius: 5px;
    padding: 8px 5px;
    margin-right: 2px;
    font-weight: bold;
}
#form-top {
    background: url(../images/form-top.jpg) no-repeat;
    width: auto;
    height: 157px;
}
#form-inner {
    width: auto;
    background: #e7e8ef;
    height: 380px;
    border-left: 3px solid #afb4c6;
    border-right: 3px solid #afb4c6;
}
#form-btm {
    background: rgba(0, 0, 0, 0) url("../images/form-btm.jpg") no-repeat scroll 0 0;
    border-bottom: 3px solid #afb4c6;
    border-left: 3px solid #afb4c6;
    border-right: 3px solid #afb4c6;
    height: 178px;
    width: auto;
}
#form form .text {
    position: relative;
    display: block;
    overflow: hidden;
    height: 34px;
    margin-bottom: -1px;
}
form {
    text-align: right;
    font-size: 12px;
    padding: 34px 18px 0 0;
}
input[type="text"] {
    height: 27px;
    width: 185px !important;
    margin-left: 8px;
    margin-right: 8px;
    text-indent: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
#form form select {
    width: 185px;
    height: 26px;
    margin-right: 5px;
    margin-left: 9px;
    font-size: 11px;
    color: #AAA;
    padding-left: 14px;
}
form input[type=text],
form input[type=email],
form input[type=number],
form select,
form textarea {
    padding: 5px 0px;
    margin-bottom: 15px;
}
.form {
    background: #e7e8ef none repeat scroll 0 0;
    border-bottom: 2px solid #afb4c6;
    border-left: 2px solid #afb4c6;
    border-right: 2px solid #afb4c6;
}
.visa-img {
    margin-right: 23%;
    margin-top: 3%;
}
.upsell-container {
    /* width: 90%; */
    
    height: 248px;
    width: 480px;
    margin: 20px auto 0 auto;
    background: url(../images/upsell.jpg);
    * //* Chrome10-25,Safari5.1-6 */
    background: -webkit-radial-gradient(center ellipse, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
    /* background: radial-gradient(ellipse at center, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    
    padding-top: 64px;
}
.upsell-container h1 {
    color: #1FB39B;
    /* margin: 3% 0 0 0; */
    
    font: 21px/100% OpenSansBold;
    text-transform: uppercase;
    text-align: center;
    /* width: 100%; */
}
.upsell-container h2 {
    color: #02569E;
    /* margin: 20px 0 0 0; */
    
    font: 20px/100% OpenSansBold;
    text-transform: uppercase;
    text-align: center;
    /* width: 100%; */
}
.upsell-container h3 {
    color: #02569E;
    margin: 6px 0 0 0;
    font: 20px/100% OpenSansRegular;
    text-align: center;
}
.upsell-image {
    margin: 0;
    width: 173px;
    height: auto;
    float: left;
    /* width: 172px; */
    
    margin: 16px 3px 0 0px;
}
.upsell-container p {
    color: #02569E;
    margin: 5% 0 0 0;
    font: 19px/100% OpenSansRegular;
    text-align: center;
}
.upsell-text {
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-align-content: center; */
    
    -ms-flex-line-pack: center;
    /* align-content: center; */
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    /* -webkit-flex-direction: column; */
    
    -ms-flex-direction: column;
    /* flex-direction: column; */
    /* width: 70%; */
    /* -webkit-box-pack: center; */
    /* -webkit-justify-content: center; */
    
    -ms-flex-pack: center;
    /* justify-content: center; */
    /* padding-right: 5px; */
}
.btn {
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    background: #00EFC5;
    padding: 20px 25px 20px 25px;
    text-decoration: none;
    width: 90%;
    margin: 0 0 0 15px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 0px #2a2a2a;
}
.btn:hover {
    background: #ED145B;
    color: #fff;
    text-decoration: none;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    box-shadow: 3px 3px 6px #3a3a3a;
    cursor: pointer;
}
.no-thanks {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    font: 11px/100% OpenSansRegular;
    color: #000;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    padding-bottom: 15px;
}
.no-thanks:hover {
    color: #ED145B;
    text-decoration: underline;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}
.upsellFreeTxt {
    /* font-size: 30px; */
    
    text-transform: uppercase;
    color: #ED145B;
    font-weight: bold;
}
.upsellPriceTxt {
    font-size: 36px;
    font-weight: bold;
}
.text {
    position: relative;
    display: block;
    height: 26px;
    margin-bottom: 15px;
}
.thanks_left {
    border: 1px solid #000;
    float: left;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    width: 30%;
}
.order {
    font-size: 20px !important;
    padding-top: 10px;
    text-align: left;
    border-bottom: 1px solid #dedede;
}
.section2_left > img {
    margin-left: -31PX;
    width: 110%;
}
.prod1 > ul {
    float: right;
    padding: 10px;
    text-align: left;
}
.section2_left {
    float: left;
    width: 30%;
}
.thanks_right li {
    padding-top: 10px;
}
.thanks_right {
    float: right;
    width: 65%;
}
.prod1 {
    width: 95%;
    border-bottom: 1px solid #dedede;
}
.fl {
    float: left;
    padding-bottom: 10px;
    text-align: left;
}
.fr {
    clear: both;
    float: right;
}
.prod2 {
    float: right;
    padding: 12px;
    width: 62%
}
.section1 {
    border-bottom: 1px solid #dedede;
}
.prod1 ul {
    width: 70%;
    padding-left: 30px;
}
.chk_footer {
    color: #000;
    font-family: 'open_sansregular';
    font-size: 11px;
    margin: 0 auto;
    padding: 16px 0;
    text-align: center;
}
.break {
    word-wrap: break-word;
    word-break: break-all;
}
.but4 {
    text-align: center;
    height: auto;
    padding: 15px 0;
    background: #8ae4c0;
}
.but4 span {
    font-size: 20px;
    font-weight: normal;
}
.but4:hover {
    background: #72c3a3 !important;
}
#outer-wrapper {
    background: url(../images/cp-bg.jpg) top center no-repeat;
    margin: 0 auto;
    height: 960px;
    width: 100%;
}
.after:after {
    content: "";
    display: block;
    clear: both;
}
.pink {
    color: #b32079;
}
.red {
    color: red;
}
.it {
    font-style: italic;
}
.bl {
    font-weight: bold;
}
.tc {
    text-align: center;
}
#wrapper {
    width: 698px;
    margin: 0px auto;
    position: relative;
    background: white;
    font-family: 'Open Sans', sans-serif;
    box-shadow: #000000 0px -62px 41px -8px;
    -webkit-box-shadow: #000000 0px -62px 41px -8px;
    -moz-box-shadow: #000000 0px -62px 41px -8px;
    -ms-box-shadow: #000000 0px -62px 41px -8px;
}
#wrapper #banner {
    border-bottom: 1px solid #b2b2b2;
    height: 94px;
}
#wrapper #banner #steps {
    width: 295px;
    height: 5px;
    top: 40px;
    left: 315px;
    background: #bab6b1;
    position: absolute;
    text-align: center;
}
#wrapper #banner #steps #ty-slider {
    height: 3px;
    width: 143px !important;
    background: #ed145b;
    position: relative;
    top: 1px;
}
#wrapper #banner #steps ul {
    position: relative;
}
#wrapper #banner #steps .step {
    width: 20px;
    height: 20px;
    background: #bab6b1;
    box-shadow: 0 0 0px 3px #b2b2b2;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50%;
}
#wrapper #banner #steps ul li .step-name {
    position: relative;
    left: -25px;
    padding-top: 8px;
    font-weight: 600;
}
#wrapper #banner #steps .step-1 .step-name,
#wrapper #banner #steps .step-2 .step-name {
    color: #5a5a5a;
    left: -43px;
}
#wrapper #banner #steps .step-3 .step-name {
    color: #5a5a5a;
}
#wrapper #banner #steps .step-1,
#wrapper #banner #steps .step-2,
#wrapper #banner #steps .step-3 {
    top: -8px;
    position: absolute;
    z-index:
}
#wrapper #banner #steps .step-1 {
    left: -20px;
}
#wrapper #banner #steps .step-2 {
    left: 142px;
}
#wrapper #banner #steps .step-3 {
    right: -82px;
}
#wrapper #banner #steps .step-1 div,
#wrapper #banner #steps .step-2 div {
    background: #ed145b;
    transition: background 3s;
    -webkit-transition: background 3s;
    -ms-transition: background 3s;
}
#wrapper #banner #steps .thank-you div {
    transition: background 2s;
    -webkit-transition: background 2s;
    -ms-transition: background 2s;
    background: #BAB6B1 !important;
}
#wrapper #banner #steps .step p {
    position: relative;
    z-index: 10;
    top: 3px;
}
.f20 {
    font-size: 20px;
}
.f18 {
    font-size: 18px;
}
.f14 {
    font-size: 14px;
    line-height: 18px;
}
.blue {
    color: #005560;
}
.blue {
    color: #00cac0;
}
.green {
    color: #66cc33;
}
.grey-1 {
    color: #555;
}
.grey-2 {
    color: #5a5a5a;
}
.turquoise {
    color: #01bba3;
}
#steps {
    margin-bottom: 20px;
}
.b-r3 {
    border-radius: 0px 3px 3px 0px;
}
.b-l3 {
    border-radius: 3px 0px 0px 3px;
}
#thank-you {
    width: 100%;
    float: right;
}
#ty-msg {
    padding: 40px 0 25px 0;
    border-bottom: 1px solid #b2b2b2;
}
#ty-msg p {
    margin-bottom: 5px;
}
#upsell {
    font-family: 'open_sansregular';
    font-size: 29px;
}
#upsell a {
    text-decoration: none;
}
#upsell-btn {
    background: url(../images/upsell.jpg) no-repeat;
    width: 476px;
    height: 242px;
    margin: 0 auto;
    display: block;
    background-position: 0 0;
    color: #043c8f;
    position: relative;
    cursor: pointer;
    /* padding: 68px 32px 0 0; */
}
.upsell3 #upsell-btn {
    background: none;
}
.upsell3 #thank-you {
    padding-top: 34px;
}
.upsell3 #upsell-btn .submitUpsell {
    margin: 0 auto;
    width: 473px;
}
.upsell3 #upsell-btn .submitUpsell img {
    width: 473px;
}
.rprice {
    color: red;
    font-weight: bold;
}
.nprice {
    font-weight: 700;
    color: blue;
    font-size: 24px;
}
.disinfo {
    font-size: 12px;
}
#upsell-btn .prod {
    position: absolute;
    left: 21px;
    top: 15px;
}
#upsell-btn p {
    margin-bottom: 23px;
    font-size: 16px;
}
#upsell-btn-content {
    position: absolute;
    right: 30px;
    top: 67px;
}
#upsell-btn-content span.f22 {
    line-height: 28px;
}
#upsell-btn-content span.f20 {
    line-height: 25px;
}
#wait {
    margin: 0 0 30px 0;
    text-decoration: none;
}
#wait p {
    margin-bottom: 7px;
    font-weight: normal;
}
.form-button {
    position: relative;
    top: 37px;
    left: 20px;
}
.cta a,
#down-btn {
    position: absolute;
    right: 25px;
    top: 16px;
    background: #00efc5;
    text-align: right;
    font-family: 'Montserrat';
    font-size: 22px;
    color: #000;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    padding: 20px 25px 20px 35px;
    cursor: pointer;
    box-shadow: 4px 4px 0 0 #7b7b7b;
    display: block;
    text-decoration: none;
}
.cta a .arrow {
    position: relative;
    left: -10px;
    bottom: 2px;
}
.cta a:active {
    margin-top: 4px;
    box-shadow: 0 0 0 0 #ff8400;
}
#up-btn {
    width: 271px;
    margin: 0 auto;
    position: relative;
    background: #00efc5;
    text-align: right;
    font-family: 'Montserrat';
    font-size: 22px;
    color: #000;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    padding: 20px 25px 20px 35px;
    cursor: pointer;
    box-shadow: 4px 4px 0 0 #7b7b7b;
    display: block;
    text-decoration: none;
}
.but3 {
    background: #00EFC5;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    display: block;
    font-family: 'Montserrat';
    font-size: 22px;
    color: #000;
    position: relative;
    width: 336px;
    margin: 0px auto;
    cursor: pointer;
    height: 68px;
    background-image: url('../images/button5.png');
    text-indent: -9999px;
    border: 0;
}
.but5 {
    background: #f5920f;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    display: block;
    font-family: 'Arial';
    font-size: 24px;
    color: #000;
    position: relative;
    width: 364px;
    margin: 0px auto;
    cursor: pointer;
    height: 87px;
    /*background-image: url('../img/button66.png');*/
    /*text-indent: -9999px;*/
    
    border: 0;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    font-weight: bold;
}
.but5:hover {
    background-color: #de7117 !important
}
.but4 {
    background: #92d050;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    display: block;
    font-family: 'Arial';
    font-size: 22px;
    color: #000;
    position: relative;
    width: 370px;
    margin: 0px auto;
    cursor: pointer;
    height: 92px;
    /*background-image: url('../img/button5.png');*/
    /*background-image: url('../img/button67.png');*/
    /*text-indent: -9999px;*/
    
    border: 0;
    top: 4px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    font-weight: bold;
}
.upsell3 .but4:hover {
    background-color: #85bd49 !important;
}
#up-btn #lock {
    background: url(../images/locked.png) no-repeat;
    width: 18px;
    height: 23px;
    position: absolute;
    top: 10px;
    left: 18px;
}
#upsell:active #up-btn {
    top: 4px;
    box-shadow: 0 0 0 0 #ff8400;
}
#lock,
#cards {
    margin: 10px auto;
    display: block;
    margin-right: 16px;
}
#decline {
    font-size: 14px;
    margin: 10px auto 0;
    width: 255px;
    position: relative;
    left: -25px;
    text-decoration: underline;
    padding-bottom: 10px;
    color: black;
}
#kformSubmit {
    margin-top: 34px;
}
#decline img {
    vertical-align: -14%;
}
.bb {
    border-bottom: 1px solid #dbdada;
}
.br {
    border-right: 1px solid #acacac;
}
#totals {
    width: 100%;
    float: right;
}
#total {
    margin-top: 10px
}
#terms {
    font-size: 10.5px;
    line-height: 16px;
    /*color: #aaaaaa;*/
    
    width: 658px;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
}
#dedicated {
    padding-top: 40px;
    width: 658px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 17px;
    font-family: 'Open Sans', Arial;
}
#dedicated p {
    width: 85%;
    display: inline-block;
    padding-left: 10px;
}
#dedicated img {
    display: inline-block;
    vertical-align: -110%;
}
.upsell3 #decline {
    width: 100%;
    margin: 30px auto;
}
.upsell3 footer {
    font-family: 'Open Sans', sans-serif;
    width: 290px;
    margin: 0px auto;
    position: relative;
    color: #8a8a8a;
    padding-top: 0px;
    text-transform: uppercase;
}
.upsell3 footer.chk_footer a:first-child {
    color: #949494 !important;
    padding: 0;
    text-transform: uppercase;
    font-size: 11.5px !important;
}
.upsell3 #outer-wrapper {
    background: url(../images/cp-bg.jpg) top center no-repeat;
    margin: 0 auto;
    height: 960px;
    width: 100%;
}
.upsell3 #wait {
    margin: 0;
    text-decoration: none;
}
.upsell3 #kformSubmit {
    margin-top: 0px;
}
.upsell3 .chk_footer {
    padding: 50px 0;
}
.upsell3 .container_thankyou {
    width: 698px;
    margin: 0px auto;
    position: relative;
    background: white;
    font-family: 'Open Sans', sans-serif;
    box-shadow: #000000 0px -62px 41px -8px;
    -webkit-box-shadow: #000000 0px -62px 41px -8px;
    -moz-box-shadow: #000000 0px -62px 41px -8px;
    -ms-box-shadow: #000000 0px -62px 41px -8px;
}
.upsell3 .chk_footer a {
    color: #8a8a8a;
    font-size: 11px !important;
}
.upsell3 .chk_footer p {
    color: #8a8a8a;
}
.upsell3 footer.chk_footer a:first-child {
    color: #949494 !important;
    padding: 0;
    text-transform: uppercase;
    font-size: 11.5px !important;
}
.upsell3 footer p a {
    color: #8a8a8a;
}
.upsell3 footer p {
    text-align: center;
    clear: both;
}
.f11 {
    font-size: 11px;
}
.tc {
    text-align: center;
}
.pt10 {
    padding-top: 10px;
}
.pb20 {
    padding-bottom: 20px;
}
#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}
#preloader .overlay {
    background: #000;
    opacity: .5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
#spinner-content {
    width: 200px;
    margin: 20% auto;
    position: relative;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    background: white;
    padding: 15px 25px 35px 25px;
    /*box-shadow: 0px 0px 20px 0px #000;*/
    
    border: 1px solid #ccc;
    line-height: 19px;
}
#spinner {
    height: 50px;
    width: 50px;
    border-width: 5px;
    background: url(../images/pre-spinner.png);
    margin: 55px auto;
    -webkit-animation: clockwise 0.75s linear infinite;
    -moz-animation: clockwise 0.75s linear infinite;
    -ms-animation: clockwise 0.75s linear infinite;
    animation: clockwise 0.75s linear infinite;
}
.but4 {
    text-align: center;
    height: auto;
    padding: 15px 0;
    background: #8ae4c0;
}
/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    
    position: fixed;
    /* Stay in place */
    
    z-index: 1;
    /* Sit on top */
    
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    
    height: 100%;
    /* Full height */
    
    overflow: auto;
    /* Enable scroll if needed */
    
    background: rgba(255, 255, 255, 0.8);
}
/* Modal Content/Box */

.modal-content {
    margin: 100px auto;
    min-width: 400px;
    max-width: 600px;
    min-height: 400px;
    color: #333;
    padding: 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position: relative;
}
.modal-content iframe {
    min-height: 400px;
    width: 100%;
    border: 1px solid rgb(213, 214, 239);
}
/* The Close Button */

.close {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #FFF;
    background-color: #333;
    border: 2px solid #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 24px;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.close:hover,
.close:focus {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}
@-webkit-keyframes clockwise {
    to {
        -webkit-transform: rotate(360deg) translatez(0);
        transform: rotate(360deg) translatez(0);
    }
}
@-moz-keyframes clockwise {
    to {
        -moz-transform: rotate(360deg) translatez(0);
        transform: rotate(360deg) translatez(0);
    }
}
@-ms-keyframes clockwise {
    to {
        -ms-transform: rotate(360deg) translatez(0);
        transform: rotate(360deg) translatez(0);
    }
}
@keyframes clockwise {
    to {
        transform: rotate(360deg) translatez(0);
    }
}
.upsell3 #cards {
    display: block;
    margin: 6px auto;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #outer-wrapper {
        background-size: 135%;
        margin: 0 auto;
        width: 100%;
        min-width: 1300px;
        overflow: hidden;
    }
}
div#upText {
    padding: 66px 28px 0 0;
}
img {} input[type="button"],
input[type="submit"],
button,
.button {
    /* border: 0; */
    /* width: 100%; */
    /* display: block; */
    /* cursor: pointer; */
    /* position: relative; */
    /* outline: 0; */
    /* padding: 20px 15px; */
    /* background: #2288D0; */
    /* color: #fff; */
    /* font-size: 20px; */
}
/* input[type="button"]:hover, input[type="submit"]:hover, button:hover, .button:hover{
     background: #2791E4;
} */

@media only screen and (max-width: 767px) {
    img.imagebox {
        height: auto !important;
        margin: 15px 50px -22px !important;
        text-align: center !important;
        width: 64% !important;
    }
}