body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.site_logo {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.site_logo > img {
    display: block;
    margin: 10px auto;
    width: 230px;
}
img, a img {
    height: auto;
    border: 0;
    vertical-align: middle;
}
.containerWrapper {
    min-width: 320px;
}
.midWideContainer{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	border-color: rgba(47, 47, 47, 0.180392);
	outline: none;
	background-color: rgb(255, 255, 255);
	padding-left: 0px;
	padding-right: 0px;
	width: 960px;
	border-width: 1px;
	border-style: solid;
	border-radius: 0px;
	margin-right: auto;
	margin-left: auto;
}
.midWideContainer .containerInner {
    padding-left: 20px;
    padding-right: 20px;
}
.midWideContainer .section1{
    padding: 0px;
    border-color: rgba(47, 47, 47, 0.168627);
    margin-left: 40px;
    margin-right: 40px;
    outline: none;
    margin-bottom: 0px;
    background-color: rgb(242, 248, 236);
	border-width: 1px;
	border-style: solid;
	text-align: center;
	background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat repeat;
	border-radius: 5px;
}
.midWideContainer .section1 .HeadlineWrapper{
	margin-top: 7px;
	outline: medium none;
}
.midWideContainer .section1 .HeadlineWrapper .Headline{
	text-align: center;
	color: rgb(206, 218, 192);
	line-height: normal;
	font-size: 18px;
	margin-bottom: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	margin-top: 0px;
}
.midWideContainer .section1 .active{
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: rgb(189, 218, 162);
	text-align: center;
}
.midWideContainer .section1 .active  .HeadlineWrapper{
	margin-top: 0;
}
.midWideContainer .section1 .active .Headline{
	    color: rgb(88, 118, 60);
	        font-size: 18px;
}
.midWideContainer .section2{
	outline: medium none;
	margin-bottom: 0px;
	text-align: center;
	padding: 10px;
}
.midWideContainer .section2 .HeadlineWrapper{
	margin-top: 20px;
	text-align: center;
}
.midWideContainer .section2 .HeadlineWrapper .Headline{
	text-align: center;
	line-height: normal;
	font-size: 37px;
	margin-bottom: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	margin-top: 0px;
}
.midWideContainer .section2 .HeadlineWrapper .Headline .go_green {
    color: #4ac716;
}
.midWideContainer .section3{
	padding: 10px;
	text-align: center;
}
.midWideContainer .section3 .innerContent{
    display: inline-block;
    float: none;	
}
.midWideContainer .section3 .innerContent .col-inner{
	text-align: center;
}
.midWideContainer .section3 .innerContent .col-inner .merge {
	border: 2px solid #333;
	margin-bottom: 25px;
	text-align: center;
}
.midWideContainer .section3 .HeadlineWrapper{
	margin-top: 20px;
	display: block;
	outline: medium none;
	text-align: center;
}
.midWideContainer .section3 .HeadlineWrapper .Headline{
	text-align: center;
	line-height: normal;
	font-size: 28px;
	margin-bottom: 0px;
	padding: 0px;
	margin-top: 0px;
}
.midWideContainer .section3 .ImageWrapper{
	margin-top: 20px;
	outline: medium none;
	display: block;
	text-align: center;
	position: relative;
}
.midWideContainer .section3 .ImageWrapper img{
	max-width: 100%;
}
.midWideContainer .section3 .innerContent .col-inner .button1{
	text-align: center;
}
.midWideContainer .section3 .innerContent .col-inner .button1 a{
	color: rgb(255, 255, 255);
	background-color: rgb(58, 174, 0);
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	font-size: 18px;
	border-radius: 5px;
	padding: 13px 35px;
	padding-bottom: 14px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	display: inline-block;
	-ms-transform: all .2s ease-in-out;
	-webkit-transform: all .2s ease-in-out;
	transform: all .2s ease-in-out;
	text-align: center;
	text-decoration: none;
}
.midWideContainer .section3 .innerContent .col-inner .button2{
	text-align: center;
}
.midWideContainer .section3 .innerContent .col-inner .button2 a{
	margin-top: 20px;
	color: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgba(0,94,0,1) 0%, rgba(0,128,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,0,1)), color-stop(100%, rgba(0,94,0,1)));
    background: -webkit-linear-gradient(90deg, rgba(0,94,0,1) 0%, rgba(0,128,0,1) 100%);
    background: -o-linear-gradient(90deg, rgba(0,94,0,1) 0%, rgba(0,128,0,1) 100%);
    background: -ms-linear-gradient(90deg, rgba(0,94,0,1) 0%, rgba(0,128,0,1) 100%);
    background: linear-gradient(0deg, rgba(0,94,0,1) 0%, rgba(0,128,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008000', endColorstr='#005E00',GradientType=0 );
    font-size: 18px;
    border-radius: 5px;
    padding: 13px 36px;
    padding-bottom: 14px;
	margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    display: inline-block;
    -ms-transform: all .2s ease-in-out;
    -webkit-transform: all .2s ease-in-out;
    transform: all .2s ease-in-out;
    text-align: center;
    text-decoration: none;    	
}
.midWideContainer .section4{
	text-align: center;
	padding: 10px;
}
.midWideContainer .section4 .HeadlineWrapper{
	margin-top: 75px;
	text-align: center;
}
.midWideContainer .section4 .HeadlineWrapper .Headline{
	margin: 0 auto;
	width: 48%;
	font-size: 16px;
	line-height: normal;
	padding: 0px;
	font-family: 'Open Sans', sans-serif !important;
	text-align: center;
}





@media only screen and (max-width: 767px){
    .site_logo > img {
        width: 50%;
    }
    .midWideContainer .section1 .innerContent:nth-child(2), .midWideContainer .section1 .innerContent:last-child{
    	margin-top: 20px;
    }
    .midWideContainer .section3 .innerContent {
	    display: block;
	}
}









