body {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: inherit !important;
    font-size: 14px;
    line-height: 1.42857143;
}
img {
    vertical-align: middle;
    height: auto;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.alignleft{
	text-align: left;
}
.align_center{
	text-align: center;
	display: inline-block;
	width: 100%;
}
.elMargin10{
    margin-top: 10px;
}
.container{
	padding-top: 0px;
	padding-bottom: 40px;
	outline: none;
	background-color: rgba(255, 255, 255, 0);
}
.fullContainer .containerInner {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.padding_10{
	padding: 10px;
}
.site_logo {
	display: block;
	margin: 0 auto;
	width: 100%;
}
.site_logo > img {
	display: block;
	margin: 10px auto;
	width: 20%;
}
.image-block img {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
}
.HeadlineWrapper{
    margin-top: 20px;
    outline: medium none;
    position: relative;
}
.Headline{
	font-size: 24px;
	line-height: normal;
	text-align: center;
	margin-bottom: 0px;
	padding: 0px;
	position: relative;
	margin-top: 0px;
}
.innerContent{
	word-wrap: break-word;
}
.shipping_innerbox_one{
	padding: 20px 20px 30px;
	border-color: rgba(47, 47, 47, 0.137255);
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	display: inline-block;
	border-width: 3px;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 100%;
}
.discount_info{
	margin-top: 20px;
	position: relative;
	display: inline-block;
	width: 100%;
}
.discount_image{
	float: left;
	text-align: left;
	width: 20%;
}
.discount_image img{
	padding: 0px;
	max-width: 100%;
	min-width: 0%;
}
.discount_text{
	float: right;
	width: 80%;
}
.discount_text_inner{
    padding-left: 15px;
}
.discount_text_inner h3{
	font-size: 18px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 6px;
	font-weight: 300;
}
.discount_text_innerinfo{
	font-size: 14px;
	padding: 0px;
}
.discount_text_innerinfo{
    font-size: 14px;
    margin: 6px 0 5px;
}
.hsSize18 {
    font-size: 18px;
}
.hsSize12 {
    font-size: 12px;
}
.elMargin0{
	margin-top: 0;
}
.elMargin10{
    margin-top: 10px;
}
.elMargin20{
    margin-top: 20px;
}
.elMargin30{
	margin-top: 30px;
}
.ProductOptionsWrapper{
	outline: medium none;
	display: inline-block;
	margin-top: 10px;
	width: 100%;
}
.ProductOptinLabel {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.ProductOptinItem, .ProductOptinLabelPrice {
    font-weight: bold;
}
.ProductOptinProducts{
	padding: 5px;
}
.ProductOptinProductName{
    width: 100%;	   	
}
.ProductOptinProducts input {
    margin: 4px 0 0;
	box-sizing: border-box;
	padding: 0;
	margin-right: 5px;
}
.ProductOptinPrice{
	padding-left: 20px;
	width: 15%;
	text-align: right;
}
input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
input[type="text"], input[type="search"], input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="email"], textarea, select {
    background: #FFF;
    border: 1px solid #a7abad;
    color: #222222;
    height: 32px;
    line-height: 22px;
    width: 100%;
    font-size: 14px;
    padding: 3px 8px;
    outline: 0px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.ProductOptinProductName label {
	display: inline;
	font-weight: normal;
	margin-bottom: 5px;
}
.Seperator{
	display: inline-block;
	width: 100%;
}
.Divider {
    width: 100%;
    min-height: 1px;
    margin: 0px;
    padding: 10px 0px;
}
.DividerInner {
	border-top: 2px solid;
	border-top-color: rgba(0, 0, 0, 0.1);
	min-height: 1px;
}
.shipping_innerbox_two{
	padding: 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
}
.shipping_info{
	display: inline-block;
	width: 100%;
}
.shipping_text{
    float: right;
    width: 70%;
}
.shipping_text_inner{
	padding-left: 20px;
}
.shipping_text_headline{
	font-size: 24px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 6px;
	font-weight: 300;
}
.shipping_text_body{
	font-size: 14px;
	padding: 0px;
}
.shipping_image{
	float: left;
	text-align: left;
	width: 30%;
}
.shipping_image img{
	padding: 0px;
	max-width: 100%;
	min-width: 0%;
}
.shipping_innerbox_two .DividerInner {
    border-top: 2px solid;
    border-top-color: rgba(0, 0, 0, 0.1);
    min-height: 1px;
}
.shipping_innerbox_three{
	padding: 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
}
.ccInputText {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
input.no-error, select.no-error {
    background: #ffffff url("../images/tick-input.png") no-repeat 99.5% 50%;
    border: 1px solid #008000;
}
.ccNumberWrap {
    float: left;
    width: 60%;
}
.ccCVCWrap {
    float: left;
    width: 20%;
    padding-left: 20px;
}
.whatsthis p a {
    color: #115689;
    display: table;
    font-size: 11px;
    margin-top: 30px;
    padding: 2px 0 2px 20px;
    text-decoration: none;
    background: url("../images/ask.png") no-repeat;
}
.ccMonthWrap {
    float: left;
    width: 50%;
    padding-right: 20px;
}
.cc-expirey-month {
    display: block;
    width: 100%;
}
.elInputSmall {
    padding: 6px 10px;
    font-size: 14px;
    line-height: 24px;
}
.elInputStyl0 {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.ccYearWrap {
    float: left;
    width: 50%;
}
.ccInputText {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
.cc-expirey-year {
    display: block;
    width: 100%;
}
.shipping_button{
	margin-bottom: 10px;
}
.shipping_button input{
	color: rgb(255, 255, 255);
	background-color: rgb(27, 191, 0);
}
input[type="button"], input[type="submit"], button, .button {
    border: 0;
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    outline: 0;
    padding: 20px 30px;
    background: #2288D0;
    color: #fff;
    font-size: 20px;
}
.footer{
	margin-bottom: 15px;
}
.footer .Headline{
	font-size: 16px;
	color: rgba(47, 47, 47, 0.541176);
}
.cc-number {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.cc-cvc {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}





@media only screen and (max-width: 767px){
	.site_logo > img {
	    width: 50%;
	}
	.fullContainer {
		padding-left: 0px;
		padding-right: 0px;
	}
	.discount_text_innerinfo {
	    font-size: 12px;
	}
	.discount_text_inner h3 {
	    font-size: 12px;
	    margin: 6px 0 5px;
	}
	.shipping_innerbox_one{
	    padding-left: 10px !important;
	    padding-right: 10px !important;
	}
	.shipping_innerbox_two{
	    margin-top: 20px !important;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.shipping_text_headline, .shipping_text_body {
	    font-size: 12px;
	    margin: 6px 0 5px;
	}
	.ccNumberWrap {
	    float: left;
	    width: 100%;
	}
	.ccCVCWrap {
	    float: left;
	    width: 100%;
	    padding-left: 0;
	}
	input[type="button"], input[type="submit"], button, .button {
	    font-size: 15px;
	    white-space: normal;
	}
}