{% if messages %}
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close close4" onclick="$('#errorModal').hide();">x</span>
            <br clear="all"/>

            <div style="color:red;font-size:24px;font-weight:bold;text-align:center;">OOPS!</div>
            <div style="color:red;font-size:26px;font-weight:bold;text-align:center;">There Seems To Be A
                Problem!
            </div>
            <br/>
            Error Message:<br/>
            <strong>
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %}
                            class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </strong>
            <b></b><br/><br/>
            Please close this message and try again.<br/>
            If you continue to have problems please call 1-888-894-8568<br/>
        </div>
    </div>
    <script type="text/javascript">
        $(window).load(function () {
            $('#errorModal').show();
        });
    </script>
{% endif %}